<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crispops Tienda</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    
</head>
<body>
    <header>
        <img src="/images/logoCrispops.png" alt="Logo Crispops">
    </header>
    <section class="banner">
        <img src="" alt="Foto de Banner">
    </section>
    <section class="promoBanner">

        <div class="info">
            <span>NO TE LOS PIERDAS <b>¡VISITANOS YA!</b></span>
            <h2>DESCUENTOS ESPECIALES </br> Y PAQUETES EXCLUSIVOS</h2>
        </div>
        <button class="irAhora">
            Ir Ahora
            <img src="/images/irAhora.png" alt="→">
         </button>
    </section>
    <section class="tienda">
        <div class="title">
            <h1>PRODUCTOS</h1>
            <article class="cart">
                <h2>$0</h2>
                <span>0 Productos</span>
                <img src="/images/carrito.png" alt="Carrito">
            </article>
        </div>
        <section class="content">
            <div class="filtros">
                <input type="text" placeholder="Buscar...">
                <button>TODO</button>
            </div>
            <div class="items">
                <article class="producto">

                </article>
                <article class="producto">
                    
                </article>
                <article class="producto">
                    
                </article>
                <article class="producto">
                    
                </article>
                <article class="producto">
                    
                </article>
                <article class="producto">
                    
                </article>
                <article class="producto">
                    
                </article>
                <article class="producto">
                    
                </article>
                {{!--{{#each producto}}
                    <article class="producto">

                    </article>
                {{/each}}--}}
            </div>
        </section>
    </section>
    


{{!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2156961914590456',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

    
    FB.getLoginStatus(function(response) {
        //statusChangeCallback(response);
        console.log(response);
    });


    function checkLoginState() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
    }
</script> --}}

</body>
<footer></footer>
</html>